In [1]:
import pandas as pd
import folium
from folium.plugins import MarkerCluster
map = folium.Map(location=[40.693943, -73.985880], default_zoom_start=15)

In [7]:
import os
os.getcwd()

'/Users/baidiwang/data-journalism/coronavirus-hospitals-zipcode/notebook'

In [8]:
import pandas as pd

In [34]:
hospitals_read = pd.read_csv('../data/NYCHospitals_LA.csv')
hospitals_read

,Hospital Name,Address,City/Town,Zip Code,County,Latitude,Longitude
0,Bronx_Lebanon Hospital Center,1650 Grand Concourse,Bronx,10457.0,Bronx,40.843533,-73.911466
1,Bronx Children's Psychiatric Center,1000 Waters Place,Bronx,10461.0,Bronx,40.847524,-73.843921
2,Bronx Psychiatric Center,1500 Waters Place,Bronx,10461.0,Bronx,40.848782,-73.839363
3,Calvary Hospital,1740 Eastchester Road,Bronx,10461.0,Bronx,40.847800,-73.844258
4,Jacobi Medical Center,Pelham Parkway South and Eastchester Road,Bronx,10461.0,Bronx,40.857137,-73.843792
...,...,...,...,...,...,...,...
63,St. John's Episcopal Hospital_ South Shore,327 Beach 19th Street,Far Rockaway,11691.0,Queens,40.598028,-73.753132
64,South Beach Psychiatric Center,777 Seaview Avenue,Staten Island,10305.0,Richmond,40.583205,-74.082409
65,Staten Island University Hospital_Concord,1050 Targee Street,Staten Island,10304.0,Richmond,40.602884,-74.091526
66,"St, Vincent's Campus",see St. Vincent's Catholic Medical Center_ Sta...,Staten Island,NaN,Richmond,40.586958,-74.098050
67,"St, Vincent's Catholic Medical Center_Staten I...",355 Bard Avenue,Staten Island,10310.0,Richmond,40.635546,-74.106478

In [10]:
testzipcode_read = pd.read_csv('../data/testzipcode.csv')
testzipcode_read

     Zip Code  Positive
0       10001       191
1       10002       456
2       10003       253
3       10004        21
4       10005        36
..        ...       ...
172     11691       941
173     11692       246
174     11693       167
175     11694       302
176     11697        52

[177 rows x 2 columns]

In [11]:
df = pd.DataFrame(hospitals_read)
df

,Hospital Name,Address,City/Town,Zip Code,County
0,Bronx_Lebanon Hospital Center,1650 Grand Concourse,Bronx,10457.0,Bronx
1,Bronx Children's Psychiatric Center,1000 Waters Place,Bronx,10461.0,Bronx
2,Bronx Psychiatric Center,1500 Waters Place,Bronx,10461.0,Bronx
3,Calvary Hospital,1740 Eastchester Road,Bronx,10461.0,Bronx
4,Jacobi Medical Center,Pelham Parkway South and Eastchester Road,Bronx,10461.0,Bronx
...,...,...,...,...,...
63,St. John's Episcopal Hospital_ South Shore,327 Beach 19th Street,Far Rockaway,11691.0,Queens
64,South Beach Psychiatric Center,777 Seaview Avenue,Staten Island,10305.0,Richmond
65,Staten Island University Hospital_Concord,1050 Targee Street,Staten Island,10304.0,Richmond
66,"St, Vincent's Campus",see St. Vincent's Catholic Medical Center_ Sta...,Staten Island,NaN,Richmond
67,"St, Vincent's Catholic Medical Center_Staten I...",355 Bard Avenue,Staten Island,10310.0,Richmond

In [12]:
df=df.rename(columns={"Zip Code": 'zipcode'})

In [13]:
df_zipcode = pd.DataFrame(testzipcode_read)
df_zipcode

     Zip Code  Positive
0       10001       191
1       10002       456
2       10003       253
3       10004        21
4       10005        36
..        ...       ...
172     11691       941
173     11692       246
174     11693       167
175     11694       302
176     11697        52

[177 rows x 2 columns]

In [14]:
df=df.dropna()

In [15]:
df.isnull().values.any()

False

In [16]:
df.isnull().sum().sum()

0

In [17]:
df

,Hospital Name,Address,City/Town,zipcode,County
0,Bronx_Lebanon Hospital Center,1650 Grand Concourse,Bronx,10457.0,Bronx
1,Bronx Children's Psychiatric Center,1000 Waters Place,Bronx,10461.0,Bronx
2,Bronx Psychiatric Center,1500 Waters Place,Bronx,10461.0,Bronx
3,Calvary Hospital,1740 Eastchester Road,Bronx,10461.0,Bronx
4,Jacobi Medical Center,Pelham Parkway South and Eastchester Road,Bronx,10461.0,Bronx
...,...,...,...,...,...
62,Saint Vincents Catholic Medical Centers of New...,88_25 153rd Street,Jamaica,11432.0,Queens
63,St. John's Episcopal Hospital_ South Shore,327 Beach 19th Street,Far Rockaway,11691.0,Queens
64,South Beach Psychiatric Center,777 Seaview Avenue,Staten Island,10305.0,Richmond
65,Staten Island University Hospital_Concord,1050 Targee Street,Staten Island,10304.0,Richmond
67,"St, Vincent's Catholic Medical Center_Staten I...",355 Bard Avenue,Staten Island,10310.0,Richmond

In [18]:
df = df.dropna(axis=0, subset=['zipcode'])
df

,Hospital Name,Address,City/Town,zipcode,County
0,Bronx_Lebanon Hospital Center,1650 Grand Concourse,Bronx,10457.0,Bronx
1,Bronx Children's Psychiatric Center,1000 Waters Place,Bronx,10461.0,Bronx
2,Bronx Psychiatric Center,1500 Waters Place,Bronx,10461.0,Bronx
3,Calvary Hospital,1740 Eastchester Road,Bronx,10461.0,Bronx
4,Jacobi Medical Center,Pelham Parkway South and Eastchester Road,Bronx,10461.0,Bronx
...,...,...,...,...,...
62,Saint Vincents Catholic Medical Centers of New...,88_25 153rd Street,Jamaica,11432.0,Queens
63,St. John's Episcopal Hospital_ South Shore,327 Beach 19th Street,Far Rockaway,11691.0,Queens
64,South Beach Psychiatric Center,777 Seaview Avenue,Staten Island,10305.0,Richmond
65,Staten Island University Hospital_Concord,1050 Targee Street,Staten Island,10304.0,Richmond
67,"St, Vincent's Catholic Medical Center_Staten I...",355 Bard Avenue,Staten Island,10310.0,Richmond

In [19]:
df.columns = df.columns.str.strip()
df

,Hospital Name,Address,City/Town,zipcode,County
0,Bronx_Lebanon Hospital Center,1650 Grand Concourse,Bronx,10457.0,Bronx
1,Bronx Children's Psychiatric Center,1000 Waters Place,Bronx,10461.0,Bronx
2,Bronx Psychiatric Center,1500 Waters Place,Bronx,10461.0,Bronx
3,Calvary Hospital,1740 Eastchester Road,Bronx,10461.0,Bronx
4,Jacobi Medical Center,Pelham Parkway South and Eastchester Road,Bronx,10461.0,Bronx
...,...,...,...,...,...
62,Saint Vincents Catholic Medical Centers of New...,88_25 153rd Street,Jamaica,11432.0,Queens
63,St. John's Episcopal Hospital_ South Shore,327 Beach 19th Street,Far Rockaway,11691.0,Queens
64,South Beach Psychiatric Center,777 Seaview Avenue,Staten Island,10305.0,Richmond
65,Staten Island University Hospital_Concord,1050 Targee Street,Staten Island,10304.0,Richmond
67,"St, Vincent's Catholic Medical Center_Staten I...",355 Bard Avenue,Staten Island,10310.0,Richmond

In [20]:
df.rename(columns={"Zip Code": 'zipcode'})

,Hospital Name,Address,City/Town,zipcode,County
0,Bronx_Lebanon Hospital Center,1650 Grand Concourse,Bronx,10457.0,Bronx
1,Bronx Children's Psychiatric Center,1000 Waters Place,Bronx,10461.0,Bronx
2,Bronx Psychiatric Center,1500 Waters Place,Bronx,10461.0,Bronx
3,Calvary Hospital,1740 Eastchester Road,Bronx,10461.0,Bronx
4,Jacobi Medical Center,Pelham Parkway South and Eastchester Road,Bronx,10461.0,Bronx
...,...,...,...,...,...
62,Saint Vincents Catholic Medical Centers of New...,88_25 153rd Street,Jamaica,11432.0,Queens
63,St. John's Episcopal Hospital_ South Shore,327 Beach 19th Street,Far Rockaway,11691.0,Queens
64,South Beach Psychiatric Center,777 Seaview Avenue,Staten Island,10305.0,Richmond
65,Staten Island University Hospital_Concord,1050 Targee Street,Staten Island,10304.0,Richmond
67,"St, Vincent's Catholic Medical Center_Staten I...",355 Bard Avenue,Staten Island,10310.0,Richmond

In [21]:
df = df[df.zipcode != '']

/Users/baidiwang/.local/share/virtualenvs/coronavirus-hospitals-zipcode-SSYinFCk/lib/python3.8/site-packages/pandas/core/ops/array_ops.py:253: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)

In [22]:
df['zipcode']=df['zipcode'].astype(int)

In [23]:
df.to_csv('../output/hospitals.csv', index=False)

In [24]:
df

,Hospital Name,Address,City/Town,zipcode,County
0,Bronx_Lebanon Hospital Center,1650 Grand Concourse,Bronx,10457,Bronx
1,Bronx Children's Psychiatric Center,1000 Waters Place,Bronx,10461,Bronx
2,Bronx Psychiatric Center,1500 Waters Place,Bronx,10461,Bronx
3,Calvary Hospital,1740 Eastchester Road,Bronx,10461,Bronx
4,Jacobi Medical Center,Pelham Parkway South and Eastchester Road,Bronx,10461,Bronx
...,...,...,...,...,...
62,Saint Vincents Catholic Medical Centers of New...,88_25 153rd Street,Jamaica,11432,Queens
63,St. John's Episcopal Hospital_ South Shore,327 Beach 19th Street,Far Rockaway,11691,Queens
64,South Beach Psychiatric Center,777 Seaview Avenue,Staten Island,10305,Richmond
65,Staten Island University Hospital_Concord,1050 Targee Street,Staten Island,10304,Richmond
67,"St, Vincent's Catholic Medical Center_Staten I...",355 Bard Avenue,Staten Island,10310,Richmond

In [25]:
df.isnull().sum()

Hospital Name    0
Address          0
City/Town        0
zipcode          0
County           0
dtype: int64

In [26]:
df_zipcode.isnull().sum()

Zip Code    0
Positive    0
dtype: int64

In [27]:
df_zipcode.columns = df_zipcode.columns.str.strip()

In [28]:
df_zipcode

     Zip Code  Positive
0       10001       191
1       10002       456
2       10003       253
3       10004        21
4       10005        36
..        ...       ...
172     11691       941
173     11692       246
174     11693       167
175     11694       302
176     11697        52

[177 rows x 2 columns]

In [29]:
df_zipcode=df_zipcode.rename(columns={"Zip Code": 'zipcode'})
df_zipcode

     zipcode  Positive
0      10001       191
1      10002       456
2      10003       253
3      10004        21
4      10005        36
..       ...       ...
172    11691       941
173    11692       246
174    11693       167
175    11694       302
176    11697        52

[177 rows x 2 columns]

In [31]:
df_merge=pd.merge(df, df_zipcode, on='zipcode')

In [32]:
df_merge

,Hospital Name,Address,City/Town,zipcode,County,Positive
0,Bronx_Lebanon Hospital Center,1650 Grand Concourse,Bronx,10457,Bronx,820
1,Bronx Children's Psychiatric Center,1000 Waters Place,Bronx,10461,Bronx,837
2,Bronx Psychiatric Center,1500 Waters Place,Bronx,10461,Bronx,837
3,Calvary Hospital,1740 Eastchester Road,Bronx,10461,Bronx,837
4,Jacobi Medical Center,Pelham Parkway South and Eastchester Road,Bronx,10461,Bronx,837
...,...,...,...,...,...,...
58,Queens Hospital Center,82_68 164th Street,Jamaica,11432,Queens,710
59,Saint Vincents Catholic Medical Centers of New...,88_25 153rd Street,Jamaica,11432,Queens,710
60,South Beach Psychiatric Center,777 Seaview Avenue,Staten Island,10305,Richmond,540
61,Staten Island University Hospital_Concord,1050 Targee Street,Staten Island,10304,Richmond,634
62,"St, Vincent's Catholic Medical Center_Staten I...",355 Bard Avenue,Staten Island,10310,Richmond,294

In [33]:
df.to_csv('../output/finaldata.csv', index=False)